{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ community.name }}{% endblock title %}

{%block header_title %} {{ community.name }} {% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url "link:link_create" name=community.name  %}">Create Link</a>
  </div>    
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-sm-12 ">      
      <ul> {% include page_template  %}
</ul>
  </div>
</div>
</div>


{% endblock content %}
{% block extra_js %}  
    {{ block.super }}
    {% include "includes/endless_js.html" %}
{% endblock extra_js %}
