{% extends "base.html" %}
{% load i18n %}
{% load voting_tags %}
{% load threadedcomments %}
{% block title %}{{link.title}}{% endblock title %} 


{% block content %}
<div class="container">
  <div class="voting_info midcol unvoted link">
    <div class="arrow up login-required" onclick="ajaxLinkVote('{{ link.id }}', '{{link.slug}}', 'up');">
    </div>
    <div class="point downvotes">{{ link.point|minus:1}}
    </div>
    <div class="point unvoted">{{link.point}}</div>
    <div class="point upvotes">{{link.point|add:1}}
    </div>
    <div class="arrow down login-required" onclick="ajaxLinkVote('{{ link.id }}', '{{link.slug}}', 'down');">
    </div>
  </div>
  <div class="thumbnailed">
  </div>
  <div class="link_info">
    <p class="title">
    </p>
    <p class="tagline">
    </p>
    <ul class="">
    </ul>
  </div>
</div>
{% render_comment_form for link %} 
<div class="container comment-section" id="comments_link{{link.id}}" >
  {% render_comment_list for link with_poster %}
</div>

{% endblock content %}
